
<h2>Ezt a template-et includeoltam be</h2>
<h3>Ráadásul használom ugyanazokat a változókat is, mint a $foo= {{ foo }}</h3>
<a href="{{ path('lucky-number') }}">Szerencsés számok link generálás a path() függvény segítségével.</a>
<img src="{{ absolute_url(asset('/images/leyer.jpg')) }}">