
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Test Application{% endblock %}</title>
</head>
<body>
<h1>Ez a layout</h1>

<div id="content">
    {% block body %}{% endblock %}
</div>
</body>
</html>
