
{% extends "AdminBundle::layout.html.twig" %}

{% block title %}Admin login{% endblock %}

{% block section %}

    {%  if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    <form action="{{ path('blog_admin_security_logincheck') }}">
        <label for="username">Username:</label>
        <input type="text" id="username">
    </form>

{% endblock %}